.musicbtn{
  transition: 1s;
  transform: translateX(-1rem);
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff00;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 3px;
  z-index: 6;
}
.musicbtn:hover{
  width: 15rem;
}
.musicbtn p.dsc{
  overflow-x: hidden;
  color: white;
  transform: translateX(-160%) translateY(-1.3rem);
}
.musicbtn p.msc{
  transform: rotate(0deg);
  transition: 1s;
  color: white;
  margin-top: -3px;
  font-size: 2rem;
}
/*==============================*/
.musicbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transform: translateX(-1rem);
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff00;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 3px;
  z-index: 6;
}
.musicbtn:hover{
  width: 8.5rem;
}
.musicbtn p{
  margin: 0;
  transition: 1s;
}
.musicbtn p.dsc{
  overflow-x: hidden;
  color: white;
  visibility: hidden;
  margin-left: 5px;
  white-space: nowrap;
  position: absolute;
  left: 1rem;
}
.musicbtn:hover p.dsc{
  visibility: visible;
}
.musicbtn p.msc{
  transform: rotate(0deg) translateX(-0.75rem);
  color: white;
  font-size: 2rem;
  z-index: 1;
}
/*==============================*/
p.dsc{overflow-x: hidden;
  color: white;
  visibility: hidden;
  margin-left: 5px;
  white-space: nowrap;}
/*==============================*/
h1{
  color: white;
  font-size: 2.5rem;
  margin-bottom:5px;
}
p{
  color: white;
  font-size: 20px;
  margin-block: 3px;
}